body {
  background-color: tan;
}
.header{
  padding: 60px;
  text-align: left;
  font-size: 30px;
  font-style: italic;
}
#title{
  right: 300px;
}

#pic{
  position: relative;
  right: -60px;
  top: -200px;



}
